{% extends 'base.html.twig' %}
{% block body %}
    <section class="wz-section">
        <h1>
            {{ 'main.title'|trans }}
            <small>{{ 'main.sub_title'|trans }}</small>
        </h1>
        <div>
            <cite>
                {{ 'main.description'|trans }}<br>
                {{ 'main.frequency'|trans }}
            </cite>
        </div>
        <div>
            <h2>{{ 'archives.title'|trans }}</h2>
            <p>{{ 'archives.click_to_see'|trans }}</p>
            <ul>
                {% set prevMonth = '' %}
                {% for archive in archives %}
                    {% if prevMonth != archive.date|date('m') %}
                    {% set prevMonth = archive.date|date('m') %}
            </ul>
            <h3>{{ archive.date|date('Y-m') }}</h3>
            <ul>
                {% endif %}
                <li>
                    <a href="{{ archive.url }}">{{ archive.date|date('Y-m-d') }}</a>
                    –
                    {{ 'archives.subject'|trans }}
                    <span class="wz-secret">{{ archive.subject }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <script>
      (function () {
        document.querySelectorAll('.wz-secret').forEach((element) => {
          element.addEventListener('click', (event) => {
            event.preventDefault();
            event.target.classList.remove('wz-secret');
          });
        });
      })();
    </script>
{% endblock %}
