{% extends 'base.html.twig' %}

{% block body %}
    <script>
        window.commonWords = {{ common_words|json_encode|raw }};
        window.uiMessages = {{ ui_messages|json_encode|raw }};
        window.puzzleId = {{ puzzle_id|json_encode|raw }};
        window.solutionChecker = {{ solution_checker|json_encode|raw }};
    </script>
    <div class="wz-container">
        <div class="wz-text">
            <div class="wz-words">
                {% for token in outputs %}
                {{ token|raw }}
                {% endfor %}
            </div>
            <span class="wz-top">{{ 'ui.action.top'|trans }}</span>
        </div>
        <div class="wz-ui">
            <div id="wz-message-send"></div>
            <form id="wz-form-send">
                <input id="wz-input-guess" type="text" placeholder="{{ 'ui.placeholder.guess'|trans }}">
                <label id="wz-autoscroll-container"><input checked="checked" type="checkbox" id="wz-autoscroll">{{ 'ui.action.autoscroll'|trans }}</label>
                <button id="wz-action-send">{{ 'ui.action.send'|trans }}</button>
{#                  {% set note = 'ui.note'|trans %}#}
{#                  {% if not note is empty %}#}
{#                  <span class="wz-note">{{ note }}</span>#}
{#                  {% endif %}#}
            </form>
            <div id="wz-list-tries">
                {# <div data-highlight="${hash}"><span class="wz-tries">${hashes.length}</span><span class="wz-word">${value}</span><span>${wordElements.length}</span></div> #}
            </div>
        </div>
    </div>
    <script src="/{{ asset_version_major }}/sha1.min.js?v={{ asset_version_minor }}" defer></script>
    <script src="/{{ asset_version_major }}/crypto.js?v={{ asset_version_minor }}"></script>
    <script src="/{{ asset_version_major }}/index.js?v={{ asset_version_minor }}" defer></script>
{% endblock %}
